body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: lower-alpha;
  padding: 0;
  text-align: center;
}

li {
  margin: 10px 0;
  display: list-item;
}
