body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  margin: 0;
  text-align: center;
}
ul {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  padding-right: 0;
}

li {
  margin: 5px;
  display: list-item;
  border: 2px;
  border-radius: 2px;
  padding: 2%;
}

.programming-stack li {
  background-color: rgb(224, 117, 167);
  border: 2px solid rgb(red, green, blue);
  border-radius: 5px;
  padding: 10px;
}

.Frameworks-stack li {
  background-color: rgb(230, 199, 214);
  border: 2px solid rgb(red, green, blue);
  border-radius: 5px;
  padding: 10px;
}

.databases-stack li {
  background-color: rgb(117, 224, 206);

  padding: 10px;
}

.tools-stack {
  background-color: rgb(207, 90, 149);
  border: 2px solid rgb(red, green, blue);
  border-radius: 5px;
  padding: 10px;
}
